{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #f4f6fb;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
}

.header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.photo-box {
    background: #f7b2b2;
    padding: 15px;
    border-radius: 16px;
}

.photo-box img {
    width: 200px;
    border-radius: 12px;
}

.profile-text p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 25px;
}

.card {
    background: #ffe5d9;
    padding: 15px;
    border-radius: 14px;
}

.card p {
    margin-bottom: 6px;
    font-size: 14px;
}

.tag {
    display: inline-block;
    background: #ffd966;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    margin-right: 6px;
}

.experience {
    margin-top: 25px;
    background: #ffd966;
    padding: 20px;
    border-radius: 18px;
}
}
.experience h2 {
    background: #ff8fab;
    color: white;
    display: inline-block;
    padding: 6px 18px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

.experience ul {
    padding-left: 20px;
}

.experience li {
    font-size: 14px;
    margin-bottom: 8px;
}

.documentation {
    background: #2f6df6;
    padding: 40px 30px;
}

.doc-btn {
    border: 4px solid #ffd400;
    background: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 32px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    
    .info {
    grid-template-columns: 1fr;
}
}