body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 40px 0;
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
}